In [2]:
import pandas as pd

brands = pd.read_csv('brands.csv')
ord_l = pd.read_csv('orderlines.csv')
orders = pd.read_csv('orders.csv')
products = pd.read_csv('products.csv')

# How many orders are there?

In [9]:
orders.info()
orders.order_id.nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226909 entries, 0 to 226908
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   order_id      226909 non-null  int64
 1   created_date  226909 non-null  object
 2   total_paid    226904 non-null  float64
 3   state         226909 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 6.9+ MB

226909

# How many products are there?

In [31]:
products.info()
print('\n\nNUMBER OF PRODUCTS: ', products.sku.nunique(),'\n' )
products.sku.value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19326 entries, 0 to 19325
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sku          19326 non-null  object
 1   name         19326 non-null  object
 2   desc         19319 non-null  object
 3   price        19280 non-null  object
 4   promo_price  19326 non-null  object
 5   in_stock     19326 non-null  int64
 6   type         19276 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.0+ MB


NUMBER OF PRODUCTS:  10579

sku
PAC1035    58
PAC1036    58
PAC1034    58
PAC1033    58
PAC1032    58
           ..
PAC1280     1
PAC1277     1
PAC1275     1
PAC1273     1
THU0063     1
Name: count, Length: 10579, dtype: int64

# What period of time do these orders comprise?
## 2017-01-01 -> 2018-03-14

In [63]:
ord_l.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293983 entries, 0 to 293982
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                293983 non-null  int64
 1   id_order          293983 non-null  int64
 2   product_id        293983 non-null  int64
 3   product_quantity  293983 non-null  int64
 4   sku               293983 non-null  object
 5   unit_price        293983 non-null  object
 6   date              293983 non-null  object
dtypes: int64(4), object(3)
memory usage: 15.7+ MB

In [75]:
pd.to_datetime(ord_l['date']) # transform the 'date' from type object to type datetime

0        2017-01-01 00:07:19
1        2017-01-01 00:19:45
2        2017-01-01 00:20:57
3        2017-01-01 00:51:40
4        2017-01-01 01:06:38
                 ...
293978   2018-03-14 13:57:25
293979   2018-03-14 13:57:34
293980   2018-03-14 13:57:41
293981   2018-03-14 13:58:01
293982   2018-03-14 13:58:36
Name: date, Length: 293983, dtype: datetime64[ns]

In [76]:
pd.to_datetime(ord_l['date']).dt.date # on datetime type I can apply the accessory .dt

0         2017-01-01
1         2017-01-01
2         2017-01-01
3         2017-01-01
4         2017-01-01
             ...
293978    2018-03-14
293979    2018-03-14
293980    2018-03-14
293981    2018-03-14
293982    2018-03-14
Name: date, Length: 293983, dtype: object

In [77]:
pd.to_datetime(ord_l['date']).dt.year
pd.to_datetime(ord_l['date']).dt.month
pd.to_datetime(ord_l['date']).dt.day
pd.to_datetime(ord_l['date']).dt.day_name()

0            Sunday
1            Sunday
2            Sunday
3            Sunday
4            Sunday
            ...
293978    Wednesday
293979    Wednesday
293980    Wednesday
293981    Wednesday
293982    Wednesday
Name: date, Length: 293983, dtype: object

In [50]:
ord_l.sort_values(by='date')

,id,id_order,product_id,product_quantity,sku,unit_price,date
0,1119109,299539,0,1,OTT0133,18.99,2017-01-01 00:07:19
1,1119110,299540,0,1,LGE0043,399.00,2017-01-01 00:19:45
2,1119111,299541,0,1,PAR0071,474.05,2017-01-01 00:20:57
3,1119112,299542,0,1,WDT0315,68.39,2017-01-01 00:51:40
4,1119113,299543,0,1,JBL0104,23.74,2017-01-01 01:06:38
...,...,...,...,...,...,...,...
293978,1650199,527398,0,1,JBL0122,42.99,2018-03-14 13:57:25
293979,1650200,527399,0,1,PAC0653,141.58,2018-03-14 13:57:34
293980,1650201,527400,0,2,APP0698,9.99,2018-03-14 13:57:41
293981,1650202,527388,0,1,BEZ0204,19.99,2018-03-14 13:58:01
293982,1650203,527401,0,1,APP0927,13.99,2018-03-14 13:58:36

# How many orders are Completed?

In [55]:
orders.state.value_counts()

state
Shopping Basket    117809
Completed           46605
Place Order         40883
Pending             14379
Cancelled            7233
Name: count, dtype: int64

In [61]:
orders[orders['state']=='Completed'].count()

order_id        46605
created_date    46605
total_paid      46605
state           46605
dtype: int64

In [60]:
orders[orders['state']=='Completed']['order_id'].count()

46605

# How should revenue be computed?
### in principle: revenue = operating income (from sale of goods or services) - operating expenses
### however we don't have the operating expenses here, so I'll just sum up the total sales

In [78]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226909 entries, 0 to 226908
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   order_id      226909 non-null  int64
 1   created_date  226909 non-null  object
 2   total_paid    226904 non-null  float64
 3   state         226909 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 6.9+ MB

In [101]:
orders.total_paid.sum()

129159615.07

In [102]:
orders.total_paid.sum().round(1)

129159615.1

In [104]:
orders.total_paid.sum().round(1)

129159615.1

In [110]:
revenue = round((orders.total_paid.sum())*1E-6, 1)
print(f'The total revenue is €{revenue}M')

The total revenue is €129.2M